h1 {
    text-align: center;
    font-size: 50px
}    

.description {
    font-size: x-large;
    text-indent: 20px;
}

ul li {
    font-size: 25px;
}

.extra {
    font-size: 20px;
}

.button {
    width: 200px;
    height: 50px;
    background-color: rgb(97, 92, 92);
    color: whitesmoke;
    font-weight: 200;
    font-size: large;
    text-align: center;
    border: 2px solid black;
    margin: 0 auto 50px;
}

.button a {
    display: block;
    width: 100%;
    line-height: 50px;
}

.button:hover {
    background-color: black;
}

h2,
h3 {
    text-decoration-line: underline;
    text-align: center;
    margin: 5px;
}

img {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 25px;
}

h4 {
    display: inline-block;
    border: 1px dashed black;
    margin: 0px;
    padding: 1px;
}

.macncheese {
    background-color: rgb(223, 223, 136);
}

.steps,
.ingredients {
    border-radius: 25px;
    width:fit-content;
    border: 5px solid black;
    padding: 0px 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 20px;
}

#macingredients,
#macsteps {
    background-color: rgb(228, 173, 77);
}

.pickledbeets {
    background: rgb(197, 50, 64);
}

#beetingredients,
#beetsteps {
    background-color: rgb(153, 78, 178);
}

.tacos {
    background-color: rgb(176, 77, 41);
}

#tacosteps,
#tacoingredients {
    background-color: rgb(113, 155, 113);
}